*{
  padding: 0;
  margin: 0;
  color: white;
}

.App {
  text-align: center;
}

#root{
  background-color: black;/*#282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/*      Nav bar styling     */
.nav{

}
.nav li{
  list-style: none;
  padding: 5px;
}
.nav li a{
  cursor: pointer;
}
.nav li a:hover{
  color: red;
}
.add_color{
  color: red;
}

/*      Planet component    */
.planet_div{

  display: grid;
  justify-content: center;
}
.planet_div img{
  width: 98%;
  padding: 2%
}
.quick_facts ul{
  list-style: none;
  padding: 10px;
}
.quick_facts ul li{
  padding: 5px;
}
.planet_description{
  padding: 10px;
  line-height: 1.6;
}
.more_info{
  padding: 5px;
}
.more_info a{
  color: blue;
  text-decoration: none;
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}